---

import Layout from "../layouts/Layout.astro";

---
<Layout title="One Stop Import Solutions" type="other" image="https://firebasestorage.googleapis.com/v0/b/dragoninnovation-ea771.appspot.com/o/products%2Fsugarbear%2FSugarBear.jpg?alt=media&token=1aae7980-94e1-4dd6-b1a9-709bdd91aec3"
        description="Since 2016, Sugarbear has been famous as the World’s No.1 vegan gummy vitamins.">

    <!-- /header -->
    <section class="wrapper image-wrapper bg-image bg-overlay text-white" data-image-src="./assets/img/photos/bg1.jpg">
        <div class="container pt-19 pt-md-21 pb-18 pb-md-20 text-center">
            <div class="row">
                <div class="col-md-10 col-lg-8 col-xl-7 col-xxl-6 mx-auto">
                    <h1 class="display-1 text-white mb-3">Our Services</h1>
                    <p class="lead fs-lg px-md-3 px-lg-7 px-xl-9 px-xxl-10">Start an IMPORT Business with Us!</p>
                </div>
                <!-- /column -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>

    <!-- /section -->
    <section class="wrapper bg-light">
        <div class="container pt-14 pb-12 pt-md-16 pb-md-14">
            <div class="row gx-lg-8 gx-xl-12 gy-10 mb-lg-22 mb-xl-24 align-items-center">
                <div class="col-lg-7 order-lg-2">
                    <div class="row gx-md-5 gy-5">
                        <div class="col-md-6 offset-md-1 align-self-end">
                            <div class="card bg-pale-yellow">
                                <div class="card-body">
                                    <img src="./assets/img/icons/lineal/telephone-3.svg" class="svg-inject icon-svg icon-svg-md text-yellow mb-3" alt="" />
                                    <h4>Consultation</h4>
                                    <p class="mb-0">အလှကုန်တင်သွင်းရန်လိုအပ်သောလုပ်ငန်းပိုင်းဆိုင်ရာများ အားအသေးစိတ်ဆွေးနွေးပေးခြင်း <br>
                                        တင်သွင်းရောင်းချလိုသည့် အမှတ်တံဆိပ်များကိုလည်း Dragon Innovation Company မှ ကူညီရှာဖွေဆောင်ရွက်ပေးခြင်း</p>
                                </div>
                                <!--/.card-body -->
                            </div>
                            <!--/.card -->
                        </div>
                        <!--/column -->
                        <div class="col-md-5 align-self-end">
                            <div class="card bg-pale-red">
                                <div class="card-body">
                                    <img src="./assets/img/icons/lineal/money.svg" class="svg-inject icon-svg icon-svg-md text-red mb-3" alt="" />
                                    <h4>Payments</h4>
                                    <p class="mb-0">ငွေပေးငွေချေကိစ္စများကိုဆောင်ရွက်ပေးခြင်း</p>
                                </div>
                                <!--/.card-body -->
                            </div>
                            <!--/.card -->
                        </div>
                        <!--/column -->
                        <div class="col-md-5 align-self-center">
                            <div class="card bg-pale-leaf">
                                <div class="card-body">
                                    <img src="./assets/img/icons/lineal/truck.svg" class="svg-inject icon-svg icon-svg-md text-leaf mb-3" alt="" />
                                    <h4>Logistics Service</h4>
                                    <p class="mb-0">ကုန်ပစ္စည်းများ မြန်မာပြည် အရောက်ပို့ဆောင်ပေးနိုင်သော ယုံကြည်စိတ်ချရသည့် Logistics ကုမ္ပဏီများနှင့်ချိတ်ဆက်ဆောင်ရွက်ပေးခြင်း (air freight/ sea freight/ cargo)</p>
                                </div>
                                <!--/.card-body -->
                            </div>
                            <!--/.card -->
                        </div>
                        <!--/column -->
                        <div class="col-md-6 align-self-center">
                            <div class="card bg-pale-primary">
                                <div class="card-body">
                                    <img src="./assets/img/icons/lineal/check-list.svg" class="svg-inject icon-svg icon-svg-md text-primary mb-3" alt="" />
                                    <h4>Import Licence and Other Necessary Documents</h4>
                                    <p class="mb-0">တင်သွင်းရန် Import License  မှစ၍ FDA ရရှိသည်အထိ တာဝန်ယူဆောင်ရွက်ပေးခြင်း
                                        <br> Online Sales Registration နှင့် “ပသခ”လျှောက်ပေးခြင်း</p>
                                </div>
                                <!--/.card-body -->
                            </div>
                            <!--/.card -->
                        </div>
                        <!--/column -->
                        <div class=" col-md-6 offset-md-1 align-self-end">
                            <div class="card bg-pale-primary">
                                <div class="card-body">
                                    <img src="./assets/img/icons/lineal/analytics.svg" class="svg-inject icon-svg icon-svg-md text-primary mb-3" alt="" />
                                    <h4>Branding and Marketing</h4>
                                    <p class="mb-0">ကြော်ငြာလုပ်ငန်းများဆောင်ရွက်ခြင်း၊ ဈေးကွက်အတွင်း ပစ္စည်းများ ဖြန့်ချိ ရောင်းချခြင်းများအတွက် ဝန်ဆောင်မှုရယူနိုင်ခြင်း </p>
                                </div>
                                <!--/.card-body -->
                            </div>
                            <!--/.card -->
                        </div>
                        <!--/column -->

                        <div class="col-md-5 align-self-end">
                            <div class="card bg-pale-primary">
                                <div class="card-body">
                                    <img src="./assets/img/icons/lineal/shop-2.svg" class="svg-inject icon-svg icon-svg-md text-primary mb-3" alt="" />
                                    <h4>Products Placement in Markets</h4>
                                    <p class="mb-0">မြန်မာပြည်ဈေးကွက်ထဲတွင် နာမည်ရအမှတ်တံဆိပ်တစ်ခုအဖြစ်ရပ်တည်နိုင်ရန် Online, Offline Marketing Team များဖြင့်ဆောင်ရွက်ပေးခြင်း</p>
                                </div>
                                <!--/.card-body -->
                            </div>
                            <!--/.card -->
                        </div>
                        <!--/column -->
                    </div>
                    <!--/.row -->
                </div>
                <!--/column -->
                <div class="col-lg-5">
                    <h2 class="fs-15 text-uppercase text-muted mb-3">What We Do?</h2>
                    <h3 class="display-4 mb-5">The service we offer is specifically designed to meet your needs.</h3>
                    <p>လူကြီးမင်းတို့အနေနဲ့ ကိုယ်ပိုင်လုပ်ငန်းတစ်ခုကို
                        လျင်မြန်ချောမွေ့စွာ စတင်ဖို့စီစဉ်နေပြီလား  ?
                        နိုင်ငံတကာမှ နာမည်ကျော် အလှကုန် နှင့် လူသုံးကုန် ပစ္စည်းများကို
                        တင်သွင်းရောင်းချပြီး  ကိုယ်ပိုင်စီးပွားရေးလုပ်ငန်းတစ်ခုကို
                        ခိုင်မာစွာအကောင်အထည်ဖော်လိုသူတွေအတွက်
                        Dragon Innovation ကုမ္ပဏီနဲ့အတူ လက်တွဲကြရအောင်။</p>
                </div>
                <!--/column -->
            </div>
            <!--/.row -->
        </div>
        <!-- /.container -->
    </section>

    <!-- /section -->
    <section class="wrapper image-wrapper bg-auto no-overlay bg-image text-center bg-map" data-image-src="./assets/img/map.png">
        <div class="container pt-0 pb-14 pt-md-16 pb-md-18">
            <div class="row">
                <div class="col-lg-10 col-xl-9 col-xxl-8 mx-auto">
                    <h2 class="fs-15 text-uppercase text-muted mb-3">Join Our Community</h2>
                    <h3 class="display-4 mb-8 px-lg-12">We are trusted by over 5000+ clients. Join them now and grow your business.</h3>
                </div>
                <!-- /.row -->
            </div>
            <!-- /column -->
            <div class="row">
                <div class="col-md-10 col-lg-9 col-xl-7 mx-auto">
                    <div class="row align-items-center counter-wrapper gy-4 gy-md-0">
                        <div class="col-md-4 text-center">
                            <h3 class="counter counter-lg text-primary">7518</h3>
                            <p>Completed Projects</p>
                        </div>
                        <!--/column -->
                        <div class="col-md-4 text-center">
                            <h3 class="counter counter-lg text-primary">5472</h3>
                            <p>Satisfied Customers</p>
                        </div>
                        <!--/column -->
                        <div class="col-md-4 text-center">
                            <h3 class="counter counter-lg text-primary">2184</h3>
                            <p>Expert Employees</p>
                        </div>
                        <!--/column -->
                    </div>
                    <!--/.row -->
                </div>
                <!-- /column -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>
</Layout>
