
---

import Product from "../components/Product.astro";
import Layout from "../layouts/Layout.astro";
import {data_url} from "../firebase/client";

const data = await fetch(data_url.toString()).then((response) =>
    response.json()
);

const environment = import.meta.env.SUGARBEAR_BASE;

---
<Layout title="Sugarbear" type="sugarbear" image="https://firebasestorage.googleapis.com/v0/b/dragoninnovation-ea771.appspot.com/o/products%2Fsugarbear%2FSugarBear.jpg?alt=media&token=1aae7980-94e1-4dd6-b1a9-709bdd91aec3"
description="Since 2016, Sugarbear has been famous as the World’s No.1 vegan gummy vitamins.">
    <section class="wrapper bg-white">
        <div class="container py-3 py-md-5">
            <nav class="d-inline-block" aria-label="breadcrumb">
                <ol class="breadcrumb mb-0">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Sugarbear</li>
                </ol>
            </nav>
            <!-- /nav -->
        </div>
        <!-- /.container -->
    </section>

    <section class="wrapper bg-light">
        <div class="container py-14 py-md-16">

            <!--/.row -->
            <div class="grid grid-view projects-masonry shop mb-13">
                <div class="row gx-md-8 gy-10 gy-md-13 isotope">

                    {data.map(product => {
                        if(product.group ==='Sugarbear') return  <Product data={product} path={environment}/>
                    })}


                </div>
                <!-- /.row -->
            </div>
        </div>
        <!-- /.container -->
    </section>
</Layout>
