<section id="about">
    <div class="wrapper bg-light">
        <div class="container pt-14 pt-md-12 pb-2">
            <div class="row text-center">
                <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
                    <h2 class="fs-16 text-uppercase text-muted mb-3">Who we are?</h2>
                    <h3 class="display-4 mb-10 px-xl-10">Dragon Innovation Company Limited</h3>
                </div>
                <!-- /column -->
            </div>
            <div class="row gx-lg-0 gy-10 align-items-center mb-15 mb-lg-18">
                <div class="col-lg-12">
                    <div class="d-flex flex-row">
                        <div>
                            <img src="/assets/img/icons/lineal/history.svg" class="svg-inject icon-svg icon-svg-sm me-4" alt="" />
                        </div>
                        <h2 class="display-4 mb-3">Our History</h2>
                    </div>
                    <p class="mb-0">
                        Dragon Innovation, a trading company, was founded in the year 2020 under the trade license 126549423-00.
                        Our company is specializing in the retailing, distributing, and importing of health and beauty products in Myanmar market.
                        We mainly import products from the USA and South Korea. We also distribute imported brands in various areas all over the country.
                    </p>
                </div>
                <div class="col-lg-12">
                    <div class="d-flex flex-row">
                        <div>
                            <img src="/assets/img/icons/lineal/vision.svg" class="svg-inject icon-svg icon-svg-sm me-4" alt="" />
                        </div>
                        <h2 class="display-4 mb-3">Our Vision</h2>
                    </div>
                    <p class="mb-0">To become the leading distributor of trusted international brands with premium quality products at reasonable prices.</p>
                </div>
                <div class="col-lg-12">
                    <div class="d-flex flex-row">
                        <div>
                            <img src="/assets/img/icons/lineal/target.svg" class="svg-inject icon-svg icon-svg-sm me-4" alt="" />
                        </div>
                        <h2 class="display-4 mb-3">Our Mission</h2>
                    </div>
                    <p class="mb-0">
                        We distribute premium quality products at reasonable prices for our customers while providing unique value-added services.
                        To work progressively towards the distribution process by fulfilling ongoing market demand and by adding value to both vendor and resellers.
                        To work effectively towards creating demand for products and passage to market for vendors and our reseller-partners by creating effective program and knowledge.
                    </p>
                </div>
                <div class="col-lg-12">
                    <div class="d-flex flex-row">
                        <div>
                            <img src="/assets/img/icons/lineal/future.svg" class="svg-inject icon-svg icon-svg-sm me-4" alt="" />
                        </div>
                        <h2 class="display-4 mb-3">Our Future Plan</h2>
                    </div>
                    <p class="mb-0">
                        We are constantly exploring the global market to find the most innovative products and locate the best suppliers to deliver them.
                        We will continue as the most reliable distribution company that imports the premium goods to Myanmar.
                        We will try to provide employment opportunities to those who are enthusiastic and talented.
                        We will provide excellent services and products to our customers and resellers by building long-term loyalty and better relationship.
                    </p>
                </div>
                <!--/column -->
            </div>

            <!-- /.row -->

        </div>
        <!-- /.container -->
    </div>
    <!-- /.wrapper -->
</section>
