<section id="brands">
    <div class="wrapper bg-light">
        <div class="container pt-14 pt-md-12 pb-8">
            <div class="row text-center">
                <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
                    <h2 class="fs-16 text-uppercase text-muted mb-3">What we distribute?</h2>
                    <h3 class="display-4 mb-10 px-xl-10">We distribute trusted international brands with premium quality products at reasonable prices.</h3>
                </div>
            </div>
            <div class="row gx-lg-0 gy-10 mb-15 mb-md-18 align-items-center">
                <div class="col-lg-6">
                    <div class="row g-6 text-center">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-lg-12">
                                    <figure class="rounded mb-6"><img src="/assets/img/brands/Hanskin.jpg" alt=""></figure>
                                </div>
                                <!-- /column -->
                                <div class="col-lg-12">
                                    <div class="card shadow-lg">
                                        <div class="card-body">
                                            <div class="icon btn btn-circle btn-lg  pe-none mb-3">  <img style="height: 20px;" src="/assets/img/logos/Hanskin.png"> </div>
                                            <h4>Hanskin</h4>
                                            <p class="mb-2">Hanskin has been around for 20 years and has won many awards and a trusted brand in Korea.</p>
                                            <a href="/hanskin" class="more hover link-pink">Learn More</a>
                                        </div>
                                        <!--/.card-body -->
                                    </div>
                                    <!--/.card -->
                                </div>
                                <!-- /column -->
                            </div>
                            <!-- /.row -->
                        </div>
                        <!-- /column -->
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-lg-12 order-md-2">
                                    <figure class="rounded mb-6 mb-md-0"><img src="/assets/img/brands/SugarBear.jpg" alt=""></figure>
                                </div>
                                <!-- /column -->
                                <div class="col-lg-12">
                                    <div class="card shadow-lg mb-md-6 mt-lg-6">
                                        <div class="card-body">
                                            <div class="icon btn btn-circle btn-lg btn-soft-purple pe-none mb-3"> <img style="width: 70px;" src="/assets/img/logos/SugarBear_logo.png"></div>
                                            <h4>SugarBear</h4>
                                            <p class="mb-2">Since 2016, Sugarbear has been famous as the World’s No.1 vegan gummy vitamins.</p>
                                            <a href="/sugarbear" class="more hover link-green">Learn More</a>
                                        </div>
                                        <!--/.card-body -->
                                    </div>
                                    <!--/.card -->
                                </div>
                                <!-- /column -->
                            </div>
                            <!-- /.row -->
                        </div>
                        <!-- /column -->
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-lg-12">
                                    <figure class="rounded mb-6"><img src="./assets/img/brands/Mongdies.jpg" alt=""></figure>
                                </div>
                                <!-- /column -->
                                <div class="col-lg-12">

                                    <!--/.card -->
                                </div>
                                <!-- /column -->
                            </div>
                            <!-- /.row -->
                        </div>
                        <!-- /column -->
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-lg-12 order-md-2">

                                </div>
                                <!-- /column -->
                                <div class="col-lg-12">
                                    <div class="card shadow-lg mb-md-6 mt-lg-6">
                                        <div class="card-body">
                                            <div class="icon btn btn-circle btn-lg  pe-none mb-3">  <img style="height: 20px;" src="/assets/img/logos/Mongdies.png"></div>
                                            <h4>Mongdies</h4>
                                            <p class="mb-2">Established in 2015, mongdies is a NO.1 baby cosmetic in South Korea.</p>
                                            <a href="/mongdies" class="more hover link-yellow">Learn More</a>
                                        </div>
                                        <!--/.card-body -->
                                    </div>
                                    <!--/.card -->
                                </div>
                                <!-- /column -->
                            </div>
                            <!-- /.row -->
                        </div>
                        <!-- /column -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /column -->
                <div class="col-lg-5 offset-lg-1">
                    <h2 class="display-4 mb-3">Brands</h2>
                    <p class="lead fs-lg">SugarBear</p>
                    <p class="mb-6">
                        Since 2016, Sugarbear has been famous as the World’s No.1 vegan gummy vitamins and it is produced in USA’s FDA, GMP certified factory.<br>
                        In 2020, We are authorized to import as the Sole Distributor in Myanmar market and we  exclusively distribute nationwide.
                    </p>
                    <p class="lead fs-lg">Hanskin</p>
                    <p class="mb-6">
                        Hanskin has been around for 20 years and has won many awards and a trusted brand in Korea.<br>
                        Hanskin's products are reliable, luxurious, and packed with ingredients that actually work to improve skin health and keep it glowing long-term.<br>
                        In 2021, we expanded our market targeted to all range of skincare lovers, and due to the above brand values of Hanskin, we offered to deal the sole distributorship for Myanmar market.
                    </p>
                    <p class="lead fs-lg">Mongdies</p>
                    <p class="mb-6">
                        Mongdies is establised in 2015 and became No.1 baby cosmetic and received 61 awards in South Korea.<br>
                        mongdies is a compound word of 'AMONG+DIES', which means mongdies will be with you during all your anniversaries! As a Family Lifestyle Brand, at Mongdies , we value to deliver only good things to our beloved family!<br>
                        Mongdies is safe, EWG GREEN, hypoallergenic, cruelty free, vegan friendly, natural and effective. Due to all the above values, we offered to deal the sole distributorship for Myanmar market and we belive it'll be the best for our babies and families.
                    </p>
                </div>
                <!-- /column -->
            </div>
        </div>
    </div>

    <!-- /.wrapper -->
</section>
