---
import ProductLite from "./Link/ProductLite.astro";
import {data_url} from "../firebase/client";

const data = await fetch(data_url.toString()).then((response) =>
    response.json()
);

const {ids, path} = Astro.props;

---


<section class="wrapper bg-gray">
    <div class="container py-14 py-md-16">
        <h3 class="h2 mb-6 text-center">You Might Also Like</h3>
        <div class="swiper-container blog grid-view shop mb-6" data-margin="30" data-dots="true" data-items-xl="3" data-items-md="2" data-items-xs="1">
            <div class="swiper">
                <div class="swiper-wrapper">

                    {
                        data.map(product => {
                            if(ids.includes(product.id))
                                return <ProductLite data={product} path={path}/>
                        })
                    }

                </div>
                <!--/.swiper-wrapper -->
            </div>
            <!-- /.swiper -->
        </div>
        <!-- /.swiper-container -->
    </div>
    <!-- /.container -->
</section>
