<footer class="bg-gray">
    <div class="container pt-10 pt-md-12 pb-7">
        <div class="row gy-6 gy-lg-0 align-items-lg-center">
            <div class="col-lg-4 text-center text-lg-start">
                <img src="/assets/img/logos/DragonInnovation.png" srcset="/assets/img/logos/DragonInnovation@2x.png 2x" alt="Dragon Innovation" />
            </div>
            <!-- /column -->
            <div class="col-lg-4">
                <nav class="nav justify-content-center">
                    <a class="link-body me-5" href="/aboutus">About Us</a>
                    <a class="link-body me-5 scroll" href="#brands">Brands</a>
                    <a class="link-body" href="/terms">Terms</a>
                </nav>
            </div>
            <!-- /column -->
            <div class="col-lg-4">
                <nav class="nav social justify-content-center justify-content-lg-end">
                    <a href="https://www.facebook.com/dragoninnovation.mm" class="btn btn-circle btn-sm btn-facebook me-2">
                        <i class="uil uil-facebook-f"></i>
                    </a>
                    <a href="https://www.linkedin.com/company/dragon-innovation-group" class="btn btn-circle btn-sm btn-linkedin">
                        <i class="uil uil-linkedin"></i>
                    </a>
                </nav>
                <!-- /.social -->
            </div>
            <!-- /column -->
        </div>
        <!--/.row -->
        <hr class="mt-7 mb-6" />
        <div class="d-md-flex align-items-center justify-content-between text-center text-md-start">
            <p class="mb-2 mb-md-0">© 2026 Dragon Innovation Company Limited. All rights reserved.</p>
            <ul class="list-unstyled d-md-flex justify-content-center mb-0 fs-15">
                <li class="me-md-5"><a href="mailto:contact@dragoninnov.com" class="link-body"><i class="uil uil-envelope me-1"></i>contact@dragoninnov.com</a></li>
                <li><a href="tel:+959795727272" class="link-body"><i class="uil uil-phone me-1"></i>(+959) 795 72 72 72</a></li>
            </ul>
        </div>
    </div>
    <!-- /.container -->
</footer>
