<footer class="bg-gray">
    <div class="container py-13 py-md-15">
        <div class="row gy-6 gy-lg-0">
            <div class="col-md-4 col-lg-4">
                <div class="widget">
                    <img class="mb-4" src="/assets/img/logos/DragonInnovation.png" srcset="/assets/img/logos/DragonInnovation@2x.png 2x" alt="" />
                    <p class="mb-4">© 2022 Dragon Innovation. <br class="d-none d-lg-block" />All rights reserved.</p>
                    <nav class="nav social social-color">
                        <div class="fb-page" data-href="https://www.facebook.com/sugarbearmyanmar/" data-tabs="" data-width="" data-height="" data-small-header="true" data-adapt-container-width="true" data-hide-cover="true" data-show-facepile="true">
                            <blockquote cite="https://www.facebook.com/sugarbearmyanmar/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/sugarbearmyanmar/">Sugarbear Myanmar</a></blockquote>
                        </div>

                    </nav>
                    <!-- /.social -->
                </div>
                <!-- /.widget -->
            </div>
            <!-- /column -->
            <div class="col-md-4 col-lg-4">
                <div class="widget">
                    <h4 class="widget-title mb-4">Get in Touch</h4>
                    <address class="pe-xl-15 pe-xxl-17">Block 154, Maha Bandula Park St, Unit 02, Level 2, Kyauktada Township, Yangon, Myanmar.</address>
                    <a href="mailto:job@dragoninnov.com">contact@dragoninnov.com</a><br /> (+959) 795 72 72 72, (+959) 796 72 72 72
                </div>
                <!-- /.widget -->
            </div>
            <!-- /column -->
            <div class="col-md-4 col-lg-4">
                <div class="widget">
                    <h4 class="widget-title mb-4">Learn More</h4>
                    <ul class="list-unstyled  mb-0">
                        <li><a href="/aboutus">About Us</a></li>
                        <li><a class="scroll" href="#testimonials">Review</a></li>
                        <li><a href="/terms">Terms & Conditions</a></li>
                    </ul>
                </div>
                <!-- /.widget -->
            </div>

            <!-- /column -->
        </div>
        <!--/.row -->
    </div>
    <!-- /.container -->
</footer>
