<!--Head -->
<section id="home" class="wrapper bg-light">
    <div class="container-card">
        <div class="card image-wrapper bg-full bg-image bg-overlay bg-overlay-light-500 mt-2 mb-5" data-image-src="/assets/img/photos/bg22.png">
            <div class="card-body py-14 px-0">
                <div class="container">
                    <div class="row gx-md-8 gx-xl-12 gy-10 align-items-center text-center text-lg-start">
                        <div class="col-lg-6" data-cues="slideInDown" data-group="page-title" data-delay="900">
                            <h1 class="display-2 mb-4 me-xl-5 me-xxl-0">Distributing <span class="text-gradient gradient-1">health & beauty</span> products for Myanmar</h1>
                            <p class="lead fs-23 lh-sm mb-7 pe-xxl-15">We're a trading company that focuses on distributing health and beauty products in Myanmar.</p>
                        </div>
                        <!--/column -->
                        <div class="col-lg-6">
                            <img class="img-fluid mb-n18" src="/assets/img/illustrations/i7.png" srcset="/assets/img/illustrations/i7@2x.png 2x" data-cue="fadeIn" data-delay="300" alt="" />
                        </div>
                        <!--/column -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.container -->
            </div>
            <!--/.card-body -->
        </div>
        <!--/.card -->
    </div>
    <!-- /.container-card -->
</section>
<!--/Head-->
