<section id="testimonials">
    <div class="wrapper bg-gray">
        <div class="container py-8 py-md-11">
            <div class="row text-center">
                <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
                    <h2 class="fs-16 text-uppercase text-muted mb-3">what they say?</h2>
                    <!-- <h3 class="display-4 mb-10 px-xl-10">We distribute trusted international brands with premium quality products at reasonable prices.</h3>  -->
                </div>
                <!-- /column -->
            </div>
            <div class="row gx-lg-8 gx-xl-12 gy-6 mb-15 align-items-center">
                <div class="col-lg-7 order-lg-2">
                    <figure><img class="w-auto" src="/assets/img/illustrations/i4.png" srcset="/assets/img/illustrations/i4@2x.png 2x" alt="" /></figure>
                </div>
                <!--/column -->
                <div class="col-lg-5 mt-lg-12">
                    <div class="swiper-container dots-closer mb-6" data-margin="30" data-dots="true">
                        <div class="swiper">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <blockquote class="icon icon-top fs-lg text-center">
                                        <p>“I recommend it because it is really effective. Sugar bear hair and also sugar bear Sleep . When I take sugar bear sleep, I sleep like a baby and  really feel fresh when I woke up  . One of my friend eat Sugar bear hair gummy because of her hair fall , it was so amazing that after eating these gummies her hair growth was like WOW . Actually when she drink I really don’t think this will work but I was wrong . Thanks so much Sugar bear you really are best for hair growth .”</p>
                                        <div class="blockquote-details justify-content-center text-center">
                                            <div class="info ps-0">
                                                <h5 class="mb-1">Aye Aye Aung</h5>
                                                <p class="mb-0">SugarBear User</p>
                                            </div>
                                        </div>
                                    </blockquote>
                                </div>
                                <!--/.swiper-slide -->
                                <div class="swiper-slide">
                                    <blockquote class="icon icon-top fs-lg text-center">
                                        <p>“LOVE THIS. My go-to holy grail product. It has made my skin soft and dewy and I use it for both day and night as the last step of my skincare routine. The gel like texture makes it feels like a great sealer for the end of your moisturizing routine!”</p>
                                        <div class="blockquote-details justify-content-center text-center">
                                            <div class="info ps-0">
                                                <h5 class="mb-1">Allie Xu</h5>
                                                <p class="mb-0">Hanskin Moisture Cream User</p>
                                            </div>
                                        </div>
                                    </blockquote>
                                </div>
                                <!--/.swiper-slide -->
                                <div class="swiper-slide">
                                    <blockquote class="icon icon-top fs-lg text-center">
                                        <p>“The first time when I tried the hanskin pore cleansing oil PHA, I like the natural oil scent and texture. This is really great and I love how it gently exfoliates the skin, it removes makeup so easily and effectively. My skin feels smooth and hydrated after using this product. Highly recommend for sensitive skin type.”</p>
                                        <div class="blockquote-details justify-content-center text-center">
                                            <div class="info ps-0">
                                                <h5 class="mb-1">Theingi Win Maung</h5>
                                                <p class="mb-0">Hanskin PHA cleansing Oil User</p>
                                            </div>
                                        </div>
                                    </blockquote>
                                </div>
                                <!--/.swiper-slide -->

                            </div>
                            <!--/.swiper-wrapper -->
                        </div>
                        <!-- /.swiper -->
                    </div>
                    <!-- /.swiper-container -->
                </div>
                <!--/column -->
            </div>
            <!--/.row -->

        </div>
        <!-- /.container -->
    </div>
    <!-- /.wrapper -->
</section>
