<section id="testimonials">
    <div class="wrapper bg-gray">
        <div class="container py-14 py-md-16">
            <div class="row text-center" data-cue="slideInDown">
                <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
                    <h2 class="fs-16 text-uppercase text-muted mb-3">What They Say</h2>
                    <h3 class="display-4 mb-10 px-xl-10">Real reviews from customers who trust the brands we distribute.</h3>
                </div>
                <!-- /column -->
            </div>
            <div class="row gx-lg-8 gy-6 d-flex align-items-stretch" data-cues="slideInUp" data-group="review-cards" data-delay="150">
                <div class="col-md-6 col-lg-4 d-flex">
                    <div class="card shadow-lg w-100">
                        <div class="card-body">
                            <span class="ratings five mb-3"></span>
                            <blockquote class="icon mb-0">
                                <p>“I recommend it because it is really effective. When I take SugarBear Sleep, I sleep like a baby and feel really fresh when I wake up. One of my friends took SugarBear Hair for her hair fall, and after eating these gummies her hair growth was like WOW. Thanks so much SugarBear — you really are the best for hair growth.”</p>
                                <div class="blockquote-details">
                                    <div class="info ps-0">
                                        <h5 class="mb-1">Aye Aye Aung</h5>
                                        <p class="mb-0">SugarBear User</p>
                                    </div>
                                </div>
                            </blockquote>
                        </div>
                        <!--/.card-body -->
                    </div>
                    <!--/.card -->
                </div>
                <!--/column -->
                <div class="col-md-6 col-lg-4 d-flex">
                    <div class="card shadow-lg w-100">
                        <div class="card-body">
                            <span class="ratings five mb-3"></span>
                            <blockquote class="icon mb-0">
                                <p>“LOVE THIS. My go-to holy grail product. It has made my skin soft and dewy and I use it for both day and night as the last step of my skincare routine. The gel-like texture makes it feel like a great sealer for the end of your moisturizing routine!”</p>
                                <div class="blockquote-details">
                                    <div class="info ps-0">
                                        <h5 class="mb-1">Allie Xu</h5>
                                        <p class="mb-0">Hanskin Moisture Cream User</p>
                                    </div>
                                </div>
                            </blockquote>
                        </div>
                        <!--/.card-body -->
                    </div>
                    <!--/.card -->
                </div>
                <!--/column -->
                <div class="col-md-6 col-lg-4 d-flex">
                    <div class="card shadow-lg w-100">
                        <div class="card-body">
                            <span class="ratings five mb-3"></span>
                            <blockquote class="icon mb-0">
                                <p>“The first time I tried the Hanskin Pore Cleansing Oil PHA, I liked the natural oil scent and texture. It gently exfoliates the skin and removes makeup so easily and effectively. My skin feels smooth and hydrated after using this product. Highly recommend for sensitive skin types.”</p>
                                <div class="blockquote-details">
                                    <div class="info ps-0">
                                        <h5 class="mb-1">Theingi Win Maung</h5>
                                        <p class="mb-0">Hanskin PHA Cleansing Oil User</p>
                                    </div>
                                </div>
                            </blockquote>
                        </div>
                        <!--/.card-body -->
                    </div>
                    <!--/.card -->
                </div>
                <!--/column -->
            </div>
            <!--/.row -->
        </div>
        <!-- /.container -->
    </div>
    <!-- /.wrapper -->
</section>
